@font-face {
    font-family: "Flaticon";
    src: url("<%= font_url %>flaticon.eot");
    src: url("<%= font_url %>flaticon.eot#iefix") format("embedded-opentype"),
    url("<%= font_url %>flaticon.woff") format("woff"),
    url("<%= font_url %>flaticon.ttf") format("truetype"),
    url("<%= font_url %>flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="<%= config.css_prefix_text %>"]:before, [class*=" <%= config.css_prefix_text %>"]:before,
[class^="<%= config.css_prefix_text %>"]:after, [class*=" <%= config.css_prefix_text %>"]:after {
    font-family: Flaticon;
    font-style: normal;
}
<% _.each(icons, function(item){ %>
.<%= config.css_prefix_text %><%= item.name%>:before {
    content: "<%= item.content %>";
}
<% }); %>
