@font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.eot");
    src: url("../fonts/flaticon.eot#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff") format("woff"),
    url("../fonts/flaticon.ttf") format("truetype"),
    url("../fonts/flaticon.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

[class^="<%= css_prefix_text %>"]:before, [class*=" <%= css_prefix_text %>"]:before,
[class^="<%= css_prefix_text %>"]:after, [class*=" <%= css_prefix_text %>"]:after {
    font-family: Flaticon;
    font-style: normal;
}
<%
function pad(num, size) {
    var s = num+"";
    while (s.length < size) s = "0" + s;
    return s;
}
%>
<% var counter = 0; %>
<% _.each(icons, function(item){ %>
.<%= css_prefix_text %><%= item.keyword%>:before {
    content: "\e<%= pad(parseInt(counter++, 16),3) %>";
}
<% }); %>